<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %5level %thread %logger{2}:%line - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.springframework" level="ERROR" />
  <logger name="org.springframework.batch.core.launch.support.SimpleJobLauncher" level="INFO" />
  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>
</configuration>
